alias mohawk="sb && cd mohawk-backend && creds && tmuxinator start mohawk"
alias ga="tmuxinator start ga"
alias playground="tmuxinator start playground"
alias ourfm="sb && cd our-fm && creds && tmuxinator start ourfm"
alias sourmash="tmuxinator start sour-mash"
