# Unix
alias ls="ls -a"
alias ll="ls -al"
alias ln="ln -v"
alias e="$EDITOR"

# vim
alias vim="nvim"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# make rum safer
alias rm='rm -iv'

# utils
alias sz="source ~/.zshrc"

# Shortcuts  
alias choc="cd ~/.dotfiles/chocolate"
alias config="vim ~/.dotfiles/chocolate/.config"
alias chocpath="vim ~/.dotfiles/chocolate/.path"
alias scripts="cd ~/.dotfiles/scripts"
alias a="vim ~/.dotfiles/chocolate/.aliases"
alias dots="cd ~/.dotfiles"
alias creds="source ./.creds"
alias ws="cd ~/workspace"

# git commands:
alias glog="git log --oneline --decorate --all --graph"
alias gplog="git log --pretty=format:'%h %an %s'"
alias glast="git add . && git commit --amend && git push --force-with-lease"
alias gstat="git diff main --stat"
alias g="git status"
alias gd="git diff"
alias gb="git branch -a"
alias gp="git push"
alias gpf="git push --force-with-lease"

# dev
alias dev="~/.dotfiles/scripts/open_dev.sh"
alias endd="~/.dotfiles/scripts/close_dev.sh"

# load tmuxinator aliases
source ~/.dotfiles/tmuxinator/.aliases
alias tm="cd ~/.dotfiles/tmuxinator"

# misc
alias kb="cd /Users/jackbicknell/qmk_firmware/keyboards/splitkb/kyria/keymaps/jackbicknell14/"
alias work="(sb && cd work && python main.py)"
alias zshrc="vim ~/.zshrc"
alias zshenv="vim ~/.zshenv"
alias dzshrc="vim ~/.dotfiles/zsh/.zshrc"
alias dzshenv="vim ~/.dotfiles/zsh/.zshenv"
alias tmuxconfig="vim ~/.tmux.conf"
alias dtmuxconfig="vim ~/.dotfiles/tmux/.tmux.conf"
alias hc="(cd ~/workspace/misc/healthchecker && python main.py)"
alias cloud-sql-proxy="~/cloud-sql-proxy"
