# Unix
alias ls="ls -a"
alias ll="ls -al"
alias ln="ln -v"
alias e="$EDITOR"
alias v="$VISUAL"
alias rmbu="find ./ -name \"#*#\" | xargs rm"

# vim
alias vim="nvim"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# make rum safer
alias rm='rm -iv'

# utils
alias sz="source ~/.zshrc"
killport () {
    matching_ports="$(ps -ax | awk -v to_find="$1" 'OFS="\t" {
                                if ($4 == to_find){print $1, $4};
                                }')"
eval kill  $matching_ports
}


# Shortcuts  
alias chocolate="cd ~/.dotfiles/chocolate"
alias config="vim ~/.dotfiles/chocolate/.config"
alias scripts="cd ~/.dotfiles/scripts"
alias a="vim ~/.dotfiles/chocolate/.aliases"
alias dots="cd ~/.dotfiles"
alias creds="source ./.creds"
alias sb="cd ~/sandboxes"

# git commands:
alias glog="git log --oneline --decorate --all --graph"
alias gplog="git log --pretty=format:'%h %an %s'"
alias glast="git add . && git commit --amend && git push --force-with-lease"
alias gstat="git diff main --stat"
alias g="git status"
alias gd="git diff"
alias gb="git branch -a"
alias gp="git push"
alias gpf="git push --force-with-lease"

gcon() {git checkout -b "$1"}
gco () {git checkout "$1" && git pull}
gr () {git rebase -i "$1"}
gbd () {git branch -D "$1" && git remote prune origin && gb}

# music
alias music="~/.dotfiles/bash/open_music.sh"
alias endm="~/.dotfiles/bash/close_music.sh"

# dev
alias dev="~/.dotfiles/scripts/open_dev.sh"
alias endd="~/.dotfiles/scripts/close_dev.sh"
alias slack="open -a Slack"

createproject () {~/sandboxes/template/setup.zsh "$1"}

# load tmuxinator aliases
source ~/.dotfiles/tmuxinator/.aliases
alias tm="cd ~/.dotfiles/tmuxinator"


# android
alias pixel="emulator -avd Pixel_4_API_30 -dns-server 8.8.8.8"

# postgres
alias psql="psql -U postgres"

# ios
alias simulator="open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app"

